@import "bootstrap/dist/css/bootstrap.min.css";

$maincolor: #fff;
$containercolor: #f8f8f8;
$fontcolor: #000;
$cardfontcolor: #fff;
$font: "Helvetica, sans-serif";
$fontSize: 18px;
$width: 680px;

.body {
  color: $fontcolor;
  font-family: $font;
  font-size: $fontSize;
}

.container-fluid {
  color: $fontcolor;
  background-color: $containercolor;
  font-size: 12;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: "center";
}

.card {
  color: $cardfontcolor;
}

.card-body {
  max-height: 200px;
}
